---
---

:root {
  --body-background-color: #121212;
  --body-text-color: #e0e0e0;
  --link-color: #bb86fc;
  --sidebar-background-color: #1e1e1e;
  --sidebar-text-color: #e0e0e0;
  --sidebar-border-color: #333;
  --search-background-color: #333;
  --search-result-background-color: #444;
  --table-background-color: #1e1e1e;
  --table-border-color: #333;
  --code-background-color: #1e1e1e;
}

.site-nav a[href="#betterpack---a-universal-nodejs-package-manager-cli"]::before {
  content: "info";
  font-family: "Material Icons";
  margin-right: 0.5em;
}

.site-nav a[href="#installation"]::before {
  content: "download";
  font-family: "Material Icons";
  margin-right: 0.5em;
}

.site-nav a[href="#how-it-works"]::before {
  content: "code";
  font-family: "Material Icons";
  margin-right: 0.5em;
}

.site-nav a[href="#support-the-project"]::before {
  content: "favorite";
  font-family: "Material Icons";
  margin-right: 0.5em;
}
