---
---

body {
  @import "just-the-docs/just-the-docs";
}

:root {
  --body-background-color: #121212;
  --body-text-color: #e0e0e0;
  --link-color: #bb86fc;
  --sidebar-background-color: #1e1e1e;
  --sidebar-text-color: #e0e0e0;
  --sidebar-border-color: #333;
  --search-background-color: #333;
  --search-result-background-color: #444;
  --table-background-color: #1e1e1e;
  --table-border-color: #333;
  --code-background-color: #1e1e1e;
}
